   body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f8f9fa;
        }

    .container {
    max-width: 1260px;
    margin: 0 auto;
    background-color: #f8f9fa; /* Background color for the container */
    padding-top: 100px;
    padding: 10px; /* Add padding to create space between content and container edge */
    border: 1px solid #c8ccd0; /* Add border to create the box effect */
    display: flex;
    }

        #header {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #f8f9fa;
            padding: 20px;
            position: fixed;
            border-bottom: 1px solid #c8ccd0;
            width: 100%;
            z-index: 1000;
        }

        #header h1 {
            margin: 0;
            padding: 0;
            font-size: 24px;
            display: inline-block;
        }

        #header img {
           display: inline-block;
            height: 100px;
            width: 100px;
            margin-right: 20px;
        }

.content-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 999;
    ...
}

        #center-content h2 {
            text-align: left;
        }

        #center-content {
            flex-grow: 1;
             padding-right: 30px;
            text-align: center;
            margin: 0 auto;
        }

        #sidebar {
            position: fixed;
            width: 12%;
            background-color: #f8f9fa;
            padding: 10px;
            box-sizing: border-box;
        }

        #additional-info {
            flex-grow: 1;
            flex-basis: 250px;
            width: 18%;
            background-color: #f8f9fa;
            padding: 20px;
            box-sizing: border-box;
            right: 0;
        }

        .info-box {
            background-color: #fff8dc;
            padding: 10px;
          
            margin-bottom: 10px;
            border: 1px solid #c8ccd0;
            text-align: relative;
        }

        .info-box p b {
            background-color: #ffeeaa;
            padding: 5px 10px;
            margin-top: 0;
            text-align: center;
        }

        .info-box img {
            max-width: 100%;
            height: auto;
            margin-top: 10px;
        }

        #footer {
            background-color: #f8f9fa;
            padding: 10px;
            border-top: 1px solid #c8ccd0;
            clear: both;
            text-align: center;
        }

        #footer p {
            margin: 0;
            padding: 0;
        }

        .sidebar-link {
            display: block;
            margin-bottom: 10px;
            color: #007bff;
            text-decoration: none;
        }

        .sidebar-link:hover {
            text-decoration: underline;
        }

        

        /* Media query for mobile devices */
@media only screen and (max-width: 600px) {
    #content {
        width: 100%; /* Full width on mobile */
    }

    #center-content {
        width: 100%; /* Full width on mobile */
    }

    #sidebar {
        display: block; /* Display sidebar on mobile */
        width: 15%; /* Full width on mobile */
        position: fixed; /* Remove fixed positioning */
    }

    #additional-info {
        width: 100%; /* Full width on mobile */
        position: static; /* Remove fixed positioning */
    }
